@import "../../scss/abstracts/variables";

.home {
  &__title {
    text-align: center;
    margin: 4rem;
    text-transform: uppercase;
    background: linear-gradient(
      to right,
      $color-purple-1 10%,
      $color-purple-2 50%,
      $color-blue-1 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
